<style>
    body {
        text-align: center;
        background-image: url('http://imagizer.imageshack.com/a/img924/5193/EJe5xZ.png');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Arial Black", sans-serif;
    }

    .new {
        position: relative;
        left: 33%;
        width: 600px;
        height: relative;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        border-radius: 15px;
        font-family: "Arial Black", sans-serif;
    }

    .container-fluid {
        background: linear-gradient(to right, #c33764, #1d2671);
    }
</style>
{% extends 'nav.html' %}
{% block content %}
<br><br>
<div class="new">
    <h1>Write your new blogpage</h1>
    <form action="{% url 'musicnew' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{m_form.as_p}}
        <button type="submit">제출하기</button>
    </form>
</div>

{% endblock %}