<style>
  body {
    text-align: center;
    background-image: url('http://imagizer.imageshack.com/a/img924/5193/EJe5xZ.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial Black", sans-serif;
  }

  .main {
    position: relative;
    left: 35%;
    width: 500px;
    height: 230px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 15px;
    font-family: "Arial Black", sans-serif;
  }

  .title {
    font-family: "Arial Black", sans-serif;
    text-shadow: 2px 6px 2px gray;
    font-weight: bold;
    color: white;
  }

  .container-fluid {
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  }

  .link {
    background-color: yellow;
  }

  .m1 {
    color: white;
    text-shadow: 2px 6px 2px gray;
  }
</style>
{% extends 'nav.html' %}
{% block content %}

<h1 class="title">EXO Blog page</h1>
<br><br>
{% for m_obj in mainobj %}
<div class="main">
  <h2 class="m1">{{m_obj.title}}</h2>
  {{m_obj.writer}}
  {{m_obj.summary}}
  <br>
  <span class="link"> <a href="{% url 'musicsub' m_obj.id %}">...more</a></span>
</div>
<br>
{% endfor %}
{% endblock %}