<style>
    body {
        text-align: center;
        background-image: url('http://imagizer.imageshack.com/a/img923/8392/jI3gK9.png');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Arial Black", sans-serif;
    }

    .contents {
        position: relative;
        left: 34%;
        width: 500px;
        height: relative;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        border-radius: 15px;
        font-family: "Arial Black", sans-serif;
    }

    .sub {
        font-size: xx-large;
        font-weight: bold;
        color: white;
    }

    .button {
        border: 1px solid black;
        padding: 4px 12px;
        margin-top: 15px;
        display: inline-block;
        background-color: white;
        border-radius: 20px;
    }

    .button2 {
        border: 1px solid black;
        padding: 4px 12px;
        margin-top: 15px;
        display: inline-block;
        background-color: black;
        color: white;
        border-radius: 20px;
    }

    .container-fluid {
        background: linear-gradient(to right, #c33764, #1d2671);
    }
</style>
{% extends 'nav.html' %}
{% block content %}

<span class="sub">{{music2id.title}}</span>
<div class="contents">
    <br>
    {{music2id.writer}}
    {{music2id.pub_date}}
    <hr size="5" color="black">
    <br>
    {% if music2id.image %}
    <p><img src="{{music2id.image.url}}" alt="" width="200" height="200"></p>
    {% endif %}
    <p>{{music2id.body}}</p>
</div>
<span class="button">
    <a href="{% url 'musicedit2' music2id.id %}">수정하기</a>
</span>
<span class="button2">
    <a href="{% url 'musicdelete2' music2id.id %}">삭제하기</a>
</span>
{% endblock %}