<style>
  body {
    text-align: center;
    background-image: url('http://imagizer.imageshack.com/a/img923/8392/jI3gK9.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial Black", sans-serif;
  }

  .main {
    position: relative;
    left: 35%;
    width: 500px;
    height: 230px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 15px;
    font-family: "Arial Black", sans-serif;
  }

  .m2 {
    color: white;
    text-shadow: 2px 6px 2px gray;
  }

  .title {
    font-family: "Arial Black", sans-serif;
    text-shadow: 2px 6px 2px gray;
    font-weight: bold;
    color: white;
  }

  .container-fluid {
    background: linear-gradient(to right, #c33764, #1d2671);
  }

  .link {
    background-color: purple;
  }
</style>
{% extends 'nav.html' %}
{% block content %}
<h1 class="title">EXO album</h1>
<br><br>

{% for m2_obj in main2obj %}
<div class="main">
  <h1 class="m2">{{m2_obj.title}}</h1>
  {% if m2_obj.image %}
  <p><img src="{{m2_obj.thumbnail.url}}" style="float:left"></p>
  {% endif %}
  {{m2_obj.writer}}
  <br>
  {{m2_obj.summary}}
  <br><br>
  <span class="link"><a href="{% url 'musicsub2' m2_obj.id %}">앨범 정보 보러가기</a></span>
</div>
<br>
{% endfor %}

{% endblock %}